<div class="row main-content">

    <div class="kt-portlet__body col-12 col-lg-6">
        <zxing-scanner *ngIf="scannerEnabled" #scanner (scanSuccess)="scanSuccessHandler($event)"></zxing-scanner>
        <button (click)="enableScanner()" *ngIf="!scannerEnabled" type="button" class="btn btn-primary"> Scan another QR code </button>
                    
    </div>
    <div class="col-12 col-lg-6">
        <h5 class="kt-portlet__head-title"> {{scanningTitle}} </h5>
        <h6 class="kt-portlet__head-title"> {{scanningStatus}}</h6>
    </div>
            
</div>