<form class="form-horizontal" autocomplete="off" #editTransfusionForm="ngForm" (ngSubmit)="save()">
    <abp-modal-header title="Edit transfusion" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
    <div class="modal-body">
  
        <qrcode [qrdata]="getTransfusion.donationId" [width]="200" [errorCorrectionLevel]="'M'"></qrcode>

      <div class="form-group row mb-0 required">
        <label class="col-md-3 col-form-label" for="date">
          {{ "Date" | localize }}
        </label>
        <div class="col-md-9">
          <input type="date" class="form-control" name="date" id="date" [(ngModel)]="getTransfusion.date" />
        </div>
      </div>
      <br>

       <!-- The admin can change the hospital -->
    <div class="form-group row required" *ngIf="isGranted('Admin')">
      <label class="col-md-3 col-form-label" for="hospitalId">
        {{ "Hospital" | localize }}
      </label>
      <div class="col-md-9">
        <select class="form-control" placeholder="Hospitals" [(ngModel)]="selectedHospitalId" name="hospital">
          <option *ngFor="let hospital of hospitals" [value]="hospital.id">
            {{hospital.institutionName}} -
            {{hospital.street}} {{hospital.number}}, {{hospital.city}}, {{hospital.country}}
          </option>
        </select>
      </div>
    </div>

    <!-- The hospital is readonly for a hospital admin, with the default value of-->
    <!-- the istitution the hospital admin represents -->
    <div class="form-group row required" *ngIf="isGranted('HospitalAdmin')">
      <label class="col-md-3 col-form-label" for="hospitalId">
        {{ "Hospital" | localize }}
      </label>
      <div class="col-md-9">
        <input class="form-control" placeholder="Hospitals" name="hospital" [value]="loggedInUser.institutionName"
          readonly />
      </div>
    </div>

    <!-- The hospital is readonly for a hospital personnel, with the default value of-->
    <!-- its employer instution -->
    <div class="form-group row required" *ngIf="isGranted('HospitalPersonnel')">
      <label class="col-md-3 col-form-label" for="hospitalId">
        {{ "Hospital" | localize }}
      </label>
      <div class="col-md-9">
        <input class="form-control" placeholder="Hospitals" name="hospital" [value]="employer.institutionName"
          readonly />
      </div>
    </div>
  
  
    </div>
    <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!editTransfusionForm.form.valid || saving"
      (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
  </form>