<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1>About</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <p>
            RedLife's goal is to encourage blood donations and rise awareness about the crucial need of blood - <span
              style="font-weight: bold;">more
              than 38,000 blood donations are needed every day.</span>
            While 38% of the American population is eligible to give blood, only 2% actually donates, and the problem is
            similar all around the globe.
          </p>
          <p>
            What most people don't realize is that their blood from a single donation can save 3 lives, which is the
            greatest gift a human being can
            give or receive - life.
            Our mission is to get more people to donate by getting them more involved in the process of blood
            management.
          </p>
          <p> For now, the donor doesn't know
            what happens after the donation, he doesn't know when a pacient is saved by his blood or if his blood was
            even accepted. With RedLife, donors
            receive emails when they saved a life, they can see the medical tests result and have total overview on what
            is really happening. With this,
            the feelings and emotions are more intense, people really feel that they are important (and they are) and
            that they really save lives.
          </p>
          <p>
            So, they donate more. They encourage others to donate. More people are saved.
          </p>
          <p>
            RedLife also comes in handy for transfusion centers and hospitals. For them, the application is a way to
            manage the transfusions, to keep them
            updated, to be able to search for them or to retrieve all the needed informations - it's a way to keep
            everything organized.
            So, everybody wins.
          </p>
          <h5>
            The blood you donate gives someone another chance at life. One day that someone may be a close relative, a
            friend, a loved one — or even you.
          </h5>
        </div>
      </div>
    </div>
  </section>
</div>