<form class="form-horizontal" autocomplete="off" #createDonationForm="ngForm" (ngSubmit)="save()">
  <abp-modal-header title="Create new donation" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>

  <div class="modal-body">
    <div class="form-group row required" *ngIf="!isGranted('Donor')">
      <label class="col-md-3 col-form-label" for="donorId">
        Blood donor
      </label>
      <div class="col-md-9">
        <select class="form-control" #t placeholder="Donors" [(ngModel)]="donation.donorId" name="donor"
          (change)="setSelectedDonor(t.value)">
          <option *ngFor="let donor of donors" [value]="donor.id">
            {{donor.fullName}} - {{donor.id}} ({{donor.emailAddress}})
          </option>
        </select>
      </div>
    </div>

    <!-- The admin can change the transfusion center -->
    <div class="form-group row required" *ngIf="isGranted('Admin')">
      <label class="col-md-3 col-form-label" for="centerId">
        Transfusion center
      </label>
      <div class="col-md-9">
        <select class="form-control" placeholder="Transfusion Centers" [(ngModel)]="donation.centerId" name="center">
          <option *ngFor="let center of transfusionCenters" [value]="center.id">
            {{center.institutionName}} -
            {{center.street}} {{center.number}}, {{center.city}}, {{center.country}}
          </option>
        </select>
      </div>
    </div>

    <!-- The transfusion center is readonly for a center admin, with the default value of-->
    <!-- the istitution the center admin represent -->
    <div class="form-group row required" *ngIf="isGranted('CenterAdmin')">
      <label class="col-md-3 col-form-label" for="centerId">
        Transfusion center
      </label>
      <div class="col-md-9">
        <input class="form-control" placeholder="Transfusion Centers" name="center"
          [value]="loggedInUser.institutionName" readonly />
      </div>
    </div>

    <!-- The transfusion center is readonly for a center personnel, with the default value of-->
    <!-- its employer instution -->
    <div class="form-group row required" *ngIf="isGranted('CenterPersonnel')">
      <label class="col-md-3 col-form-label" for="centerId">
        Transfusion center
      </label>
      <div class="col-md-9">
        <input class="form-control" placeholder="Transfusion Centers" name="center" [value]="employer.institutionName"
          readonly />
      </div>
    </div>


    <div class="form-group row mb-0 required">
      <label class="col-md-3 col-form-label" for="date">
        Date
      </label>
      <div class="col-md-9">
        <input type="date" class="form-control" name="date" id="date" [(ngModel)]="donation.date" required />
      </div>
    </div>
    <br>

    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="quantity">
        Quantity
      </label>
      <div class="col-md-9">
        <input type="number" class="form-control" name="quantity" id="quantity" [(ngModel)]="donation.quantity"
          [value]="donation.quantity" />
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="isBloodAccepted">
        Is blood accepted
      </label>
      <div *ngFor="let option of isBloodAcceptedOptions; let i=index">
        <div class="radio col-md-9">
          <input class="form-control" type="radio" id="{{option.id}}" name="radio"
            [(ngModel)]="donation.IsBloodAccepted" [value]="option.value" />
          <label for="{{option.id}}">{{option.id}}</label>
        </div>
      </div>
    </div>

    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="bloodType">
        Blood type
      </label>
      <div class="col-md-9" *ngIf="bloodType == undefined || bloodType == null">
         <select class="form-control" placeholder="Blood type" [(ngModel)]="donation.bloodType" name="bloodType">
          <option *ngFor="let bloodType of bloodTypes" [value]="bloodType.value">
            {{bloodType.value}}
          </option>
        </select> 
      </div>
      <div class="col-md-9" *ngIf="bloodType != undefined && bloodType != null">
        <input class="form-control" placeholder="Blood type" name="bloodType" [value]="bloodType"
        readonly />
      </div>
    </div>

    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="donationType">
        Donation type
      </label>
      <div class="col-md-9">
        <select class="form-control" placeholder="Donation type" [(ngModel)]="donation.type" name="type">
          <option *ngFor="let type of donationTypes" [value]="type.normalizedName">
            {{type.value}}
          </option>
        </select>
      </div>
    </div>

    <div class="form-group row mb-0">
      <label class="col-md-3 col-form-label" for="file">
        Medical Tests Result
      </label>
      <div class="file-input">
        <label for="file">Select file</label>
        <div class="col-md-9">
          <input type="file" class="form-control file" name="file" id="file" (change)="fileChanged($event)" />
        </div>
      </div>
    </div>

  </div>

  <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!createDonationForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>