<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h1>Benefits of donating blood</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body" style="text-align: justify;">
                    <p>Donating blood has benefits for your emotional and physical health. According to a report by the
                        Mental Health Foundation, helping others can:</p>
                    <ul>
                        <li>reduce stress</li>
                        <li>improve your emotional well-being</li>
                        <li>benefit your physical health</li>
                        <li>help get rid of negative feelings</li>
                        <li>provide a sense of belonging and reduce isolation</li>
                    </ul>
                    <p>Research has found further evidence of the health benefits that come specifically from donating
                        blood</p>

                    <h4 style="font-weight: bold;">Free health checkup</h4>
                    <p>In order to give blood, you’re required to undergo a health screening. A trained staff member
                        performs this checkup. They’ll check your:</p>
                    <ul>
                        <li>pulse</li>
                        <li>blood pressure</li>
                        <li>body temperature</li>
                        <li>hemoglobin levels</li>
                    </ul>
                    <p>This free mini-physical can offer excellent insight into your health. It can effectively detect
                        problems that could indicate an underlying medical condition or risk factors for certain
                        diseases.</p>

                    <h4 style="font-weight: bold;">Does donating blood lower your risk of heart disease? </h4>
                    <p>A 2017 study suggests that regular blood donations are associated with increased risk of heart
                        disease possibly due to unfavorable cholesterol levels.</p>
                    <p>However, donating blood regularly may lower iron stores, according to a 2013 studyTrusted Source.
                        This may reduce the risk of heart attack. High body iron stores are believed to increase the
                        risk of heart attack.</p>
                </div>
            </div>
        </div>
    </section>
</div>