<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h1>Donor eligibility criteria</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body" style="text-align: justify;">
                    <h4>Age</h4>
                    <p>You must be at least 17 years old to donate to the general blood supply, or 16 years old with
                        parental/guardian consent, if allowed by state law. There is no upper age limit for blood
                        donation as long as you are well with no restrictions or limitations to your activities.</p>

                    <h4>Weight / Height</h4>
                    <p>You must weigh at least 110 lbs (50 kg) to be eligible for blood donation for your own safety.
                        Students
                        who donate at high school drives and donors 18 years of age or younger must also meet additional
                        height and weight requirements for whole blood donation (applies to girls shorter than 5'6" or
                        168 cm and
                        boys shorter than 5' or 152 cm).</p>
                    <p>Blood volume is determined by body weight and height. Individuals with low blood volumes may not
                        tolerate the removal of the required volume of blood given with whole blood donation. There is
                        no upper weight limit as long as your weight is not higher than the weight limit of the donor
                        bed/lounge you are using. </p>

                    <h4>Tattoos</h4>
                    <p>Wait 3 months after a tattoo if the tattoo was applied in a state that does not regulate tattoo
                        facilities. Currently, the only states that DO NOT regulate tattoo facilities are: District of
                        Columbia, Georgia, Idaho, Maryland, Massachusetts, New Hampshire, New York, Pennsylvania, Utah
                        and Wyoming. This requirement is related to concerns about hepatitis. </p>

                    <h4>Pregnancy</h4>
                    <p>Persons who are pregnant are not eligible to donate. Wait 6 weeks after giving birth.</p>

                    <h4>Medications</h4>
                    <p>In almost all cases, medications will not disqualify you as a blood donor. Your eligibility will
                        be based on the reason that the medication was prescribed. As long as the condition is under
                        control and you are healthy, blood donation is usually permitted.</p>

                    <h4>Birth control</h4>
                    <p>Women on oral contraceptives or using other forms of birth control are eligible to donate.</p>

                    <h4>Cold, flu</h4>
                    <p>Wait if you have a fever or a productive cough (bringing up phlegm). Wait if you do not feel well
                        on the day of donation. Wait until you have completed antibiotic treatment for sinus, throat or
                        lung infection.</p>

                    <h4>Diabetes</h4>
                    <p>Diabetics who are well controlled on insulin or oral medications are eligible to donate.</p>

                    <h4>Donation intervals</h4>
                    <p>Wait at least 8 weeks between whole blood (standard) donations.</p>
                    <p>Wait at least 7 days between platelet (pheresis) donations.</p>
                    <p>Wait at least 16 weeks between Power Red (automated) donations.</p>

                    <h4>Cancer</h4>
                    <p>Eligibility depends on the type of cancer and treatment history. If you had leukemia or lymphoma,
                        including Hodgkin’s Disease and other cancers of the blood, you are not eligible to donate.
                        Other types of cancer are acceptable if the cancer has been treated successfully and it has been
                        more than 12 months since treatment was completed and there has been no cancer recurrence in
                        this time. Lower risk in-situ cancers including squamous or basal cell cancers of the skin that
                        have been completely removed and healed do not require a 12-month waiting period.</p>

                    <h4>Heart Disease</h4>
                    <p>In general, acceptable as long as you have been medically evaluated and treated, have no current
                        (within the last 6 months) heart related symptoms such as chest pain and have no limitations or
                        restrictions on your normal daily activities.
                        Wait at least 6 months following an episode of angina.
                        Wait at least 6 months following a heart attack.
                        Wait at least 6 months after bypass surgery or angioplasty.
                        Wait at least 6 months after a change in your heart condition that resulted in a change to your
                        medications.</p>

                    <h4>HIV, AIDS</h4>
                    <p>You should not give blood if you have AIDS or have ever had a positive HIV test, or if you have
                        done something that puts you at risk for becoming infected with HIV.
                        You are at risk for getting infected if you:</p>
                    <ul>
                        <li>have used needles to take any drugs, steroids, or anything not prescribed by your doctor in
                            the last 3 months</li>
                        <li>are a male who has had sexual contact with another male, in the last 3 months</li>
                        <li>have taken money, drugs or other payment for sex in the last 3 months</li>
                        <li>have had sexual contact in the past 3 months with anyone described above</li>
                    </ul>

                    <h4>Infections</h4>
                    <p>If you have a fever or an active infection, wait until the infection has resolved completely
                        before donating blood.
                        Wait until finished taking oral antibiotics for an infection (bacterial or viral). Wait 10 days
                        after the last antibiotic injection for an infection.
                        Those who have had infections with Chagas Disease or Leishmaniasis are not eligible to donate.
                    </p>

                    <h4>Malaria</h4>
                    <p>Malaria is transmitted by the bite of mosquitoes found in certain countries and may be
                        transmitted to patients through blood transfusion. Blood donations are not tested for malaria
                        because there is no sensitive blood test available for malaria.
                        If you have traveled or lived in a malaria-risk country, we may require a waiting period before
                        you can donate blood.</p>

                    <h4>Pulse (High or Low)</h4>
                    <p>Acceptable as long as your pulse is no more than 100 and no less than 50. A pulse that is regular
                        and less than 50 will require evaluation.</p>

                    <h4>Tuberculosis</h4>
                    <p>If you have active tuberculosis or are being treated for active tuberculosis you should not
                        donate. Acceptable if you have a positive skin test or blood test, but no active tuberculosis
                        and are NOT taking antibiotics. If you are receiving antibiotics for a positive TB skin test or
                        blood test only or if you are being treated for a tuberculosis infection, wait until treatment
                        is successfully completed before donating.</p>
                </div>
            </div>
        </div>
    </section>
</div>