<li class="nav-item dropdown nav-user-menu" dropdown>
  <a href="javascript:;" class="nav-link" dropdownToggle>
    <img
      class="user-image img-circle elevation-4"
      src="assets/img/settings.png"
      alt="Settings Image"
    />
  </a>
  <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
    <a class="dropdown-item" [routerLink]="['update-password']">
      <i class="fas fa-user-edit"></i> Update password
    </a>
    <a class="dropdown-item" href="javascript:;" (click)="logout()">
      <i class="fas fa-sign-out-alt"></i> Logout
    </a>
  </div>
</li>
