<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <h1>Donations</h1>
        </div>
        <div class="col-6 text-right" *ngIf="isGranted('Donations.Create')">
          <a href="javascript:;" class="btn bg-blue" (click)="createDonation()">
            <i class="fa fa-plus-square"></i>
            Create
          </a>
        </div>
      </div>
    </div>
  </section>


  <section class="content px-2">
    <div class="container-fluid">
      <div class="card">

        <div class="card-header">
          <div class="input-group">
            <div class="input-group-prepend">
              <button type="button" class="btn bg-blue" (click)="getDataPage(1)">
                <i class="fas fa-search"></i>
              </button>
            </div>
            <input type="text" class="form-control" name="keyword" [(ngModel)]="keyword"
              (keyup.enter)="getDataPage(1)" />
          </div>
        </div>

        <div class="card-body table-responsive p-0">
          <table class="table table-hover text-nowrap" [busy]="isTableLoading">
            <thead class="bg-light">
              <tr>
                <th>Id</th>
                <th *ngIf="!isGranted('Donor')">Blood donor</th>
                <th *ngIf="!isGranted('Donor')">Donor id</th>
                <th *ngIf="isGranted('Donor') || isGranted('Admin')">Transfusion center</th>
                <th>Date</th>
                <th>Medical tests result</th>
                <th>Is blood accepted</th>
                <th>Donation type</th>
                <th>Blood type</th>
                <th>Quantity</th>
                <th style="width: 200px;" *ngIf="isGranted('Donations.Update')">Actions</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="
                    let donation of donations
                      | paginate
                        : {
                            id: 'server',
                            itemsPerPage: pageSize,
                            currentPage: pageNumber,
                            totalItems: totalItems
                          }
                  ">
                <td (click)="showDonationQRCode(donation.id)">
                  <qrcode [qrdata]="donation.id" [width]="100" [errorCorrectionLevel]="'M'"></qrcode>
                </td>
                <td *ngIf="!isGranted('Donor')">{{ donation.donorLastName }} {{ donation.donorFirstName }}</td>
                <td *ngIf="!isGranted('Donor')">{{ donation.donorId }}</td>
                <td *ngIf="isGranted('Donor') || isGranted('Admin')">{{ donation.centerName }}</td>
                <td>{{ donation.date }}</td>
                <td>
                  <button *ngIf="donation.medicalTestsResult != null" type="button" class="btn btn-sm bg-success"
                    (click)="downloadResults(donation)">
                    <i class="fas fa-download"></i>
                    Download
                  </button>
                  <button *ngIf="donation.medicalTestsResult == null" type="button" class="btn btn-sm bg-secondary">
                    <i class="fas fa-times"></i>
                    Not added yet
                  </button>
                </td>
                <td>{{donation.isBloodAccepted ? 'Yes' : 'No'}}</td>
                <td>{{donation.type}}</td>
                <td>{{donation.bloodType}}</td>
                <td>{{ donation.quantity }}</td>
                <td *ngIf="isGranted('Donations.Update')">
                  <button type="button" class="btn btn-sm bg-secondary" (click)="editDonation(donation)">
                    <i class="fas fa-pencil-alt"></i>
                    Edit
                  </button>
                  <button type="button" class="btn btn-sm bg-danger mx-2" (click)="delete(donation)">
                    <i class="fas fa-trash"></i>
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="card-footer bg-light border-top">
          <div class="row">
            <div class="col-sm-4 col-12 text-sm-left text-center">
              <button class="btn btn-secondary" (click)="refresh()">
                <i class="fas fa-redo-alt"></i>
              </button>
            </div>
            <div class="col-sm-4 col-12 text-center">
              <p class="mb-0 my-2">
                Total: {{donations.length}}
              </p>
            </div>
            <div class="col-sm-4 col-12">
              <div class="float-sm-right m-auto">
                <abp-pagination-controls id="server" (pageChange)="getDataPage($event)">
                </abp-pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>