<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h1>How blood is used</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body" style="text-align: justify;">
                    <p>Blood or the components of blood are used to treat patients with medical conditions such as
                        anaemia, cancer blood disorders, and those having surgery.</p>

                    <h4>Blood components</h4>
                    <p>Blood is made up of a number of components, including red blood cells, platelets and plasma. Each
                        of these can be used to treat many different conditions.
                        Blood is usually separated into its individual components or parts, so a patient can be given
                        the particular component they need.
                        This makes the most of every blood donation, as the components in one unit of blood (or one
                        donation) can be used to treat different patients.</p>

                    <h4>Blood transfusions</h4>
                    <p>Donated blood or components are given to a patient in a blood transfusion. Blood transfusions are
                        given via an intravenous line into a blood vessel.</p>
                    <ul>
                        <li>Around two thirds of the blood donated in England is used to treat medical conditions
                            including anaemia, cancer and blood disorders</li>
                        <li>Nearly a third is used in surgery and emergencies including childbirth</li>
                    </ul>

                    <h4>Blood transfusions for people who are dying</h4>
                    <p>Blood can be vital for people with medical conditions or who are having surgery. But blood
                        transfusions can also improve the quality of life for people whose illness has no cure.</p>
                    <p>Karen Clarke, a community nurse who gives transfusions to terminally ill people in their own
                        homes, says: 'These vital transfusions give patients a better quality of life and the energy and
                        ability to enjoy this precious, final time with their families'.</p>

                    <h4>Blood not used for transfusion</h4>
                    <p>Sometimes, blood may not be suitable for transfusion. This blood can still benefit patients in
                        areas like the development of treatments and therapies.</p>
                    <p>Blood can be very useful for research and training, and to help develop tests.
                        We do not sell blood, or its components, for non-clinical use.</p>
                </div>
            </div>
        </div>
    </section>
</div>