<form class="form-horizontal" autocomplete="off" #editAppointmentForm="ngForm" (ngSubmit)="save()">
  <abp-modal-header title="Edit appointment" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
  <div class="modal-body">

    <!-- The donor is readonly for everyone apart from the admin -->
    <div class="form-group row" *ngIf="!isGranted('Admin')">
      <label class="col-md-3 col-form-label" for="donorId">
        {{ "Donor" | localize }}
      </label>
      <div class="col-md-9">
        <input class="form-control" type=text readonly
          [value]="getAppointment.donorFirstName + ' ' + getAppointment.donorLastName" />
      </div>
    </div>

    <!-- The admin can modify the blood donor -->
    <div class="form-group row required" *ngIf="isGranted('Admin')">
      <label class="col-md-3 col-form-label" for="donorId">
        Blood Donor
      </label>
      <div class="col-md-9">
        <select class="form-control" placeholder="Donors" [(ngModel)]="selectedDonorId" name="donor"
          [value]="getAppointment.donorId">
          <option *ngFor="let donor of donors" [value]="donor.id">
            {{donor.fullName}} - {{donor.id}} ({{donor.emailAddress}})
          </option>
        </select>
      </div>
    </div>

    <!-- The transfusion center can not be changed by the center admin, only by the donor or admin -->
    <div class="form-group row required" *ngIf="!isGranted('CenterAdmin')">
      <label class="col-md-3 col-form-label" for="centerId">
        {{ "Transfusion Center" | localize }}
      </label>
      <div class="col-md-9">
        <select class="form-control" placeholder="Transfusion Centers" [(ngModel)]="selectedTransfusionCenterId"
          name="center" [value]="getAppointment.centerId">
          <option *ngFor="let center of transfusionCenters" [value]="center.id">
            {{center.institutionName}} -
            {{center.street}} {{center.number}}, {{center.city}}, {{center.country}}
          </option>
        </select>
      </div>
    </div>

    <!-- The transfusion center is readonly for the center admin -->
    <div class="form-group row" *ngIf="isGranted('CenterAdmin')">
      <label class="col-md-3 col-form-label" for="centerId">
        {{ "Transfusion Center" | localize }}
      </label>
      <div class="col-md-9">
        <input class="form-control" type=text readonly [value]="getAppointment.centerName" />
      </div>
    </div>

    <!-- Date can be updated by anyone -->
    <div class="form-group row mb-0">
      <label class="col-md-3 col-form-label" for="date">
        {{ "Date" | localize }}
      </label>
      <div class="col-md-9">
        <input type="date" class="form-control" name="date" id="date" [(ngModel)]="getAppointment.date" />
      </div>
    </div>

  </div>
  <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!editAppointmentForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>