<form class="form-horizontal" autocomplete="off" #editAppointmentForm="ngForm" (ngSubmit)="save()">
  <abp-modal-header title="Edit appointment" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
  <div class="modal-body">
    <div class="form-group row required" *ngIf="!isGranted('CenterAdmin')">
      <label class="col-md-3 col-form-label" for="centerId">
        {{ "Transfusion Center" | localize }}
      </label>
      <div class="col-md-9">
        <select class="form-control" placeholder="Transfusion Centers" [(ngModel)]="selectedTransfusionCenterId"
          name="center" [value]="getAppointment.centerId">
          <option *ngFor="let center of transfusionCenters" [value]="center.id">
            {{center.institutionName}} -
            {{center.street}} {{center.number}}, {{center.city}}, {{center.country}}
          </option>
        </select>
      </div>
    </div>

    <div class="form-group row" *ngIf="isGranted('CenterAdmin')">
      <label class="col-md-3 col-form-label" for="centerId">
        {{ "Transfusion Center" | localize }}
      </label>
      <div class="col-md-9">
        <input class="form-control" type=text readonly [value]="getAppointment.centerName" />
      </div>
    </div>

    <div class="form-group row mb-0">
      <label class="col-md-3 col-form-label" for="date">
        {{ "Date" | localize }}
      </label>
      <div class="col-md-9">
        <input type="date" class="form-control" name="date" id="date" [(ngModel)]="getAppointment.date" />
      </div>
    </div>

  </div>
  <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!editAppointmentForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>