<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h1>Achievements</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="content px-2">
        <div class="container-fluid">
            <p>Your achievements</p>
            <div class="row">
                <div class="col-lg-3 col-6">
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3> 5 </h3>
                            <p>People helped</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-users"></i>
                        </div>
                        <p class="small-box-footer">
                            You are a hero!
                            <i class="far fa-smile-beam"></i>
                        </p>
                    </div>
                </div>

                <div class="col-lg-3 col-6">
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3>157</h3>
                            <p>Points</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-medal"></i>
                        </div>
                        <p class="small-box-footer">
                            Keep going!
                            <i class="fas fa-hand-holding-heart"></i>
                        </p>
                    </div>
                </div>

                <div class="col-lg-6 col-6">
                    <div class="small-box bg-primary">
                        <div class="icon">
                            <img src="https://i.ibb.co/x2XhmKb/Badge-Bronze-Blank.png" class="league-icon" />

                        </div>
                        <div class="inner">
                            <h3>Diamond</h3>
                            <p>League</p>
                        </div>
                        <p class="small-box-footer">
                            Next one: Ruby
                            <i class="fas fa-crown"></i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="content px-2">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="card-body table-responsive p-0">
                    <span class="nav-tabs-title">
                        <h3>Badges</h3>
                    </span>
                    <table class="table table-hover ">
                        <thead class="bg-warning text-nowrap">
                            <tr>
                                <th>Badge</th>
                                <th>Points added</th>
                                <th style="padding-left: 50px;">Icon</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tbody>
                            <!-- <tr *ngFor="
                      let badge of badges ">
                  <th >{{badge.name}}</th>
                  <th >{{badge.icon}}</th>
                </tr> -->
                            <th style="padding-top: 40px;">Covid plasma donation </th>
                            <th style="padding-top: 40px; text-align: center;">+20</th>
                            <th><img src="https://i.ibb.co/sR1DLrn/first-donation.png"
                                    style="width: 40%; padding-left: 10px" /></th>

                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="card-body table-responsive p-0">
                    <span class="nav-tabs-title">
                        <h3>Top</h3>
                    </span>
                    <table class="table table-hover text-nowrap">
                        <thead class="bg-warning">
                            <tr>
                                <th>Username</th>
                                <th>League</th>
                                <th>Points</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- <tr *ngFor="
                      let user of topUsers ">
                  <th >{{user.username}}</th>
                  <th >{{user.league}}</th>
                   <th >{{user.points}}</th>
                </tr> -->
                            <th>madaist</th>
                            <th>Diamond league</th>
                            <th>178</th>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>