<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h1>Achievements</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="content px-2">
        <div class="container-fluid">
            <p>Your achievements</p>
            <div class="row">
                <div class="col-lg-3 col-6">
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3> {{ achievements.peopleHelpedCount }}</h3>
                            <p>People helped</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-users"></i>
                        </div>
                        <p class="small-box-footer">
                            You are a hero!
                            <i class="far fa-smile-beam"></i>
                        </p>
                    </div>
                </div>

                <div class="col-lg-3 col-6">
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3>{{achievements.points}}</h3>
                            <p>Points</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-medal"></i>
                        </div>
                        <p class="small-box-footer">
                            Keep going!
                            <i class="fas fa-hand-holding-heart"></i>
                        </p>
                    </div>
                </div>

                <div class="col-lg-6 col-6">
                    <div class="small-box bg-primary">
                        <div class="icon">
                            <img src={{achievements.league.icon}} class="league-icon" />

                        </div>
                        <div class="inner">
                            <h3>{{achievements.league.name}}</h3>
                            <p>League</p>
                        </div>
                        <p class="small-box-footer">
                            Next one: {{achievements.nextLeague.name}}
                            <i class="fas fa-crown"></i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="content px-2">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="card-body table-responsive p-0">
                    <span class="nav-tabs-title">
                        <h3>Badges</h3>
                    </span>
                    <table class="table table-hover ">
                        <thead class="bg-warning text-nowrap">
                            <tr>
                                <th>Badge</th>
                                <th>Icon</th>
                                <th>Points added</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tbody>
                            <tr *ngFor="let badge of achievements.assignedBadges ">
                                <th matTooltip={{badge.name}}>{{badge.name}}</th>
                                <th><img src={{badge.icon}} style="width: 60%;" /></th>
                                <th>{{badge.points}}</th>
                            </tr>
                            <tr *ngFor="let badge of achievements.unassignedBadges ">
                                <th matTooltip={{badge.name}}>{{badge.name}}</th>
                                <th>
                                    <div id="wrapper">
                                        <popper-content #tooltip>Locked</popper-content>
                                        <img src={{badge.icon}} style="width: 60%;" [popper]="tooltip"  popperTrigger="hover"  popperPlacement="right"/>
                                    </div>
                                </th>
                                <th>{{badge.points}}</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="card-body table-responsive p-0">
                    <span class="nav-tabs-title">
                        <h3>Top</h3>
                    </span>
                    <table class="table table-hover text-nowrap">
                        <thead class="bg-warning">
                            <tr>
                                <th>Username</th>
                                <th>League</th>
                                <th>Points</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of achievements.topUsers">
                                <th>{{user.userName}}</th>
                                <th>{{user.league.name}}</th>
                                <th>{{user.points}}</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>