<div>
    <div class="modal-body">
        <div style="padding-left: 18vw;">
            <qrcode [qrdata]="id" [width]="300" [errorCorrectionLevel]="'M'"></qrcode>
        </div>
        <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
              <thead class="bg-light">
                <tr>
                  <th *ngIf="!isGranted('Donor')">Blood donor</th>
                  <th *ngIf="!isGranted('Donor')">Donor id</th>
                  <th *ngIf="isGranted('Donor') || isGranted('Admin')">Transfusion center</th>
                  <th>Date</th>
                  <th>Donation type</th>
                  <th>Blood type</th>
                  <th>Quantity</th>
                </tr>
              </thead>
  
              <tbody>
                <tr>
                  <td *ngIf="!isGranted('Donor')">{{ donation.donorLastName }} {{ donation.donorFirstName }}</td>
                  <td *ngIf="!isGranted('Donor')">{{ donation.donorId }}</td>
                  <td *ngIf="isGranted('Donor') || isGranted('Admin')">{{ donation.centerName }}</td>
                  <td>{{ donation.date }}</td>
                  <td>{{donation.type}}</td>
                  <td>{{donation.bloodType}}</td>
                  <td>{{ donation.quantity }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        <br>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="bsModalRef.hide()">Close</button>
    </div>
</div>