<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h1>Tests carried</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body" style="text-align: justify;">
                    <p>You may have noticed that each time you give a blood donation there are also taken blood samples.
                        These samples are used to perform a range of screening tests in laboratories.
                        Most of these tests are mandatory, in other words they must be carried out on every single blood
                        donation, whether this is your first donation or just one of the many you have given over the
                        years.</p>

                    <p>The tests play a very important role in ensuring that we provide a safe blood supply to patients.
                        We test for your blood group, so that we can select the correct group for the patient.</p>

                    <p>We also test for infections that can be passed from donor to patient via a blood transfusion.</p>

                    <p>Any donation that is reactive on any one of the screening tests cannot be used. If your blood is
                        reactive on any one of the screening tests, further tests are carried out to confirm whether the
                        result indicates a true infection.</p>
                    <p>If this is the case, we will inform you and offer you appropriate advice. If the result is
                        significant to your health you will be asked to discuss the results with one of our clinical
                        staff and, with your permission, we will arrange a referral to your own doctor or a specialist.
                    </p>

                    <p>As well as checking your blood group, we test for the following infections:</p>
                    <ul>
                        <li>
                            <span style="font-weight: bold;">Syphilis</span> is caused by a bacterium called Treponema
                            pallidum. This family of bacteria can
                            also cause tropical diseases called Yaws and Pinta. Syphilis is usually a sexually
                            transmitted infection which, if untreated, can cause serious disease. Yaws and Pinta cause
                            skin and joint problems.
                            <p>A positive test for syphilis often relates to an infection in the past, but we are not
                                able to use blood as long as the test is positive.</p>
                        </li>
                        <li>
                            <span style="font-weight: bold;">Hepatitis B virus (HBV)</span> is one of several
                            viruses that can cause inflammation of the liver
                            (hepatitis), and sometimes liver damage.
                            <p>Sometimes we find a donor with new (acute) hepatitis B infection. Most adults who get
                                hepatitis B have a short illness and overcome the infection.</p>
                        </li>

                        <li>
                            <span style="font-weight: bold;">Human immunodeficiency virus (HIV)</span>, if
                            untreated,affects the immune system with the
                            development of Acquired Immune Deficiency Syndrome (AIDS). The HIV virus is transmitted
                            sexually, can be passed from mother to baby, and by intravenous drug use.
                            <p>If either or both of the tests are reactive, further tests are done to confirm the
                                result. Unlike many other infections the antibodies produced do not protect against the
                                virus.</p>
                        </li>

                        <li>
                            <span style="font-weight: bold;">Hepatitis C virus (HCV) </span>, like hepatitis B, infects
                            the liver and can cause inflammation and
                            liver damage. The virus is commonly transmitted by needles, and thus may be associated with
                            injecting drug use. Like HIV, HCV can persist in the body even when antibodies are present.
                            <p>We perform two tests for the virus, one that looks for antibody to the virus, and a
                                second that looks for the virus itself, targeting the virus nucleic acid. If either or
                                both of the tests are reactive, further tests are done to confirm the result.</p>
                        </li>

                        <li>
                            <span style="font-weight: bold;">Hepatitis E Virus (HEV)</span> can infect both animals and
                            humans. HEV infection usually causes no
                            symptoms but if it does, it generally produces only a mild inflammation of the liver,
                            hepatitis E.
                        </li>
                    </ul>

                    <h5>Your first donation and selected subsequent donations are also tested for:</h5>
                    <ul>
                        <li>
                            <span style="font-weight: bold;">Human T-lymphotropic virus (HTLV) </span>; a virus which
                            infects white cells called T-lymphocytes.
                            Like HIV, the HTLV virus remains in the body once an individual is infected, even though
                            antibodies develop. Most people who are infected with the virus are perfectly well and never
                            have any illness.
                            <p>The infection is found most commonly in people from Japan, the West Indies and parts of
                                the Middle East. The virus is commonly transmitted from mother to child by breast
                                feeding, but is also passed on by sexual contact or by intravenous drug use. We screen
                                for antibodies against HTLV, and if the test is reactive further tests are performed to
                                confirm the result.</p>
                        </li>
                    </ul>

                    <h5>Additional tests</h5>
                    <p>Some tests are not performed on every donation. We may need to carry out additional tests
                        depending on the donor’s individual circumstances, in particular with reference to travel or
                        skin piercing. Extra tests are also done to provide specifically tested blood for particular
                        types of patient.</p>

                    <ul>
                        <li>
                            <span style="font-weight: bold;">Malaria</span> is caused by parasites which are transmitted
                            by the bites of mosquitoes. The
                            infection causes fever and is a major cause of death in some parts of the world. We test for
                            antibodies to the malaria parasites. A confirmed positive result does not necessarily mean
                            that the individual has active malaria, merely that they have had malaria at some time.
                        </li>

                        <li>
                            <span style="font-weight: bold;">T-cruzi</span> is a parasite called Trypanosoma cruzi,
                            found in certain parts of Central and South
                            America. It is transmitted to humans by biting insects or from mother to baby at the time of
                            birth, or by blood transfusion.

                            Over many years, the parasite can cause damage to the muscles in the heart and intestines,
                            leading to an illness called Chagas disease. Not all infected people become ill. Our tests
                            look for antibodies to the infection. A donor’s place of birth and travel history determine
                            whether the test is required.
                        </li>

                        <li>
                            <span style="font-weight: bold;">West Nile Virus (WNV)</span> is an infection transmitted by the bites of mosquitoes. It most often
                            causes a mild ‘flu-like’ illness, but can also cause a more serious illness, especially in
                            the elderly and in those with a suppressed immune system. It can be transmitted by blood
                            transfusion from a donor who has recently been infected.
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </section>
</div>